@model IEnumerable<Agencia_De_Viajes_Proyecto.Models.Destino>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DestinoPaisName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinoCuidadName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DestinoPaisName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinoCuidadName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DestinoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DestinoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DestinoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
