@model Agencia_De_Viajes_Proyecto.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelCalificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelCalificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinos.DestinoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HotelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
