@model IEnumerable<Agencia_De_Viajes_Proyecto.Models.Paquete>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaqueteFechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaqueteFechaLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaqueteFechaRegreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaqueteCantPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaqueteMonto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destino.DestinoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaqueteFechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaqueteFechaLlegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaqueteFechaRegreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaqueteCantPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaqueteMonto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaqueteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaqueteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaqueteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
